---
interface Props {
  title: string;
  items: string[];
}

const { title, items } = Astro.props;
---

<section class="space-y-4">
  <h2 class="text-xl font-semibold text-white">{title}</h2>
  <ul class="space-y-3">
    {items.map(item => (
      <li class="flex items-baseline gap-3 text-white/80">
        <span class="text-white/20">•</span>
        {item}
      </li>
    ))}
  </ul>
</section>